html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
body
{
    line-height:1
}
button
{
    outline:0
}
ol,ul
{
    list-style:none
}
textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]
{
    -webkit-appearance:none;
    appearance:none;
    border-radius:0
}
table
{
    border-collapse:collapse;
    border-spacing:0
}
th,td
{
    padding:2px
}
big
{
    font-size:120%
}
small,sup,sub
{
    font-size:80%
}
sup
{
    vertical-align:super
}
sub
{
    vertical-align:sub
}
dd
{
    margin-left:20px
}
kbd,tt
{
    font-family:courier;
    font-size:12px
}
dt
{
    font-weight:bold
}
address,cite,var
{
    font-style:italic
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block
}
*
{
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent
}


body
{
    font-family:sans-serif;
    font-size:14px;
    color:#444;
    line-height:1.6em;
    word-wrap:break-word;
    background:#f6f6f6
}


h1, h2, h3, h4, h5, h6{font-weight:bold;margin: 15px 0 10px 0;}
h1{font-size:30px}
h2{font-size:25px}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:12px}
h6{font-size:10px}
p{margin:5px 0}
p:empty{display: none;}
* p:last-of-type, #sidebar .widget-container:last-child{margin-bottom:0}
/*a{color:#09f;transition:all 0.5s ease}*/
strong{font-weight:bold}
em{font-style:italic}
pre{overflow-x:auto;white-space:pre-wrap}
pre, code{font-family:'courier new',courier,serif}
hr{height:1px;border:0;margin:30px 0;background:#ccc}
blockquote{padding:15px;border-left:4px solid #ccc;margin:30px 0}
blockquote p:first-of-type{margin-top:0}
input, textarea{font-family:sans-serif;padding:15px;border:0;outline:0;margin-top:10px;background:#f6f6f6}
input[type="submit"], #menu .toggle:hover{cursor:pointer}
input[type="search"]{-webkit-appearance:textfield}
a img, input[type="image"]{border:0}
img, video, audio, table, select, textarea{max-width:100% !important;height:auto}
table{width:100%;margin:30px 0}

body {max-width:100%;margin:0 auto}
header, article {padding: 10px 210px 10px 2%}
article { background-color: white; }
footer { display: none; }

.button, button, input[type="submit"]{display:inline-block;font-family:georgia,serif;font-size:18px;color:#fff;text-align:center;text-decoration:none;padding:10px 15px;border:0;background:#09f;opacity:0.9}
.button:hover, button:hover, input[type="submit"]:hover{cursor:pointer;opacity:1}
#site-title::before
{
    content: url(./opaga-logo-100.png);
    float: left;
    margin-right: 20px;
}
#site-title a,
#site-title h1
{
    font-size:40px;
    font-weight:normal;
    color:#333;
    text-decoration:none;
    display:block;
    margin-bottom: 0;
}
h1.entry-title a{color:#333;text-decoration:none}
h2.entry-title, h3.widget-title{margin-top:0}
.entry-meta, .entry-footer, .archive-meta{margin:30px 0}
.entry-footer{clear:both}
#copyright, #copyright a, .entry-meta, .entry-meta a, .entry-footer, .entry-footer a, .comment-meta, .comment-meta a, .comment-author, .comment-author a{font-size:14px;color:#aaa}

.sticky{padding-bottom:60px;border-bottom:4px solid #ccc}
.bypostauthor{}
.post, .widget-container, .search article{margin-bottom:60px}
.post:last-of-type{margin-bottom:0}
.wp-caption{width:auto !important}
.wp-caption.aligncenter, .wp-caption-text, .gallery-caption{text-align:center}
.alignleft{margin:0 30px 30px 0;float:left}
.alignright{margin:0 0 30px 30px;float:right}
.aligncenter{display:block;margin:30px auto;clear:both}
.wp-post-image{display:block;margin-bottom:30px}
.entry-attachment img{display:block;margin:60px auto 30px}
.attachment .entry-caption{text-align:center}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-float:after, .boxes:after{display:table;content:"";clear:both}

.screen-reader-text { display: none; }
