/*
 * Feuille de styles pour l'interface admin
 * Plugin : wp-organisme de formation
 */

/* Input texte */
input.long-text
{
	width: 100%;
}

.form-table td,
.form-table th
{
    padding: 10px 0;
    vertical-align: top;
    border-bottom: white 1px solid;
}

.form-table th
{
    min-width: 25%;
}

.form-table tr
{
    margin: 15px 0 5px 0;
}
.form-table table td
{
    padding: 2px 10px 2px 0px;
}
ul.classic li,
.wpof-tableau li
{
    list-style: disc inside;
    padding-left: 3px;
}

input.datepicker
{
    width: 8em;
}

/* Menu à onglets */
.wp-admin #wpof-menu ul
{
    padding: 5px;
    margin-bottom: -2px;
}
.wp-admin #wpof-menu li
{
    padding-bottom: 5px;
}
.wp-admin .highlightButton,
.wp-admin #wpof-tableau
{
    background-color: #FFF;
    padding: 10px 5px;
}

.wp-admin #wpof-menu
{
    font-size: 1em;
}

div.infobox p
{
    font-size: 15pt;
    margin: 0;
    border-radius: 5px;
    margin: 3px 10%;
    padding: 10px;
}
div.infobox p.session-catalogue
{
    background-color: #8AF;
}
div.infobox p.session-unique
{
    background-color: #FA8;
}


/* postbox pour les CPT */
.postbox p,
.postbox li
{
    font-size: 1.2em;
}

div.flex-container
{
    display: flex;
}
div.flex-container > div
{
    flex-direction: row;
    margin-left: 40px;
}
div.flex-container > div:first-child
{
    margin-left: 0px;
}
.meta-box-sortables select[name=specialite]
{
    max-width: 400px;
}
.reset-input:hover
{
    color: red;
}
.postbox label,
.form-table label
{
    display: block;
}
div.label
{
    float: left;
}

.postbox .flex-container.sous_traitance div.non_sous_traitance,
.postbox .flex-container div.sous_traitance
{
    display: none;
}
.postbox .flex-container div.non_sous_traitance,
.postbox .flex-container.sous_traitance div.sous_traitance
{
    display: block;
}
