.mce-content-body.prerequis p,
.mce-content-body.objectifs p,
.mce-content-body.quizpr p,
.mce-content-body.quizobj p
{
    border: solid 1px #CCC;
    min-height: 1.25em;
    padding-left: 11em;
}
.mce-content-body.prerequis p::before,
.mce-content-body.objectifs p::before,
.mce-content-body.quizpr p::before,
.mce-content-body.quizobj p::before
{
    content: "Compétence évaluée : ";
    position: absolute;
    left: 1%;
    color: #CCC;
}
.mce-content-body.prerequis p::after,
.mce-content-body.objectifs p::after,
.mce-content-body.quizpr p::after,
.mce-content-body.quizobj p::after
{
    content: " | 1 | 2 | 3 | 4 | 5 ";
    position: absolute;
    right: 1%;
}
.mce-content-body br[data-mce-bogus]
{
    display: none;
}
